PUID=1000
PGID=1000
TZ=America/Chicago
SERVERURL=example.duckdns.org
SERVERPORT=51820
PEERS=examplephone,examplelaptop
PEERDNS=auto
INTERNAL_SUBNET=10.13.13.0
ALLOWEDIPS=0.0.0.0/0
PERSISTENTKEEPALIVE_PEERS=25
LOG_CONFS=false
