# Python
.venv/
__pycache__/
*.pyc

# React / Node
node_modules/
dist/

# Environment variables / secrets
**/.env

# Pihole
services/pihole/etc-pihole/
services/pihole/etc-dnsmasq.d/

# Wireguard
services/wireguard/config/

# Minecraft
services/minecraft/*.world/
services/minecraft/*.env
services/minecraft/backups/
services/minecraft/*.log

# OS/editor junk
.DS_Store
.vscode/




